*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(17, 17, 17);
}
.game-body{
	background-color: rgb(17, 17, 17);
	height: 90vh;
	width: 100vw;
	margin: auto;
	margin-top: 10vh;
	border: 2px solid rgb(162, 255, 23);
	position: relative;
}
.snake{
	padding: 10px;
	border: 0px solid red;
	height: fit-content;
	width: fit-content;
	-transition: 2s all linear;
	position: relative;
}
.snake .unit{
	width: 10px;
	height: 10px;
	background: rgb(162, 255, 23);
	border-radius: 1px;
	margin: auto;
	position: absolute;
	border: 0px solid red;
	box-shadow: inset 2px 2px 5px rgba(0, 94, 5, 0.25), inset -2px -2px 5px rgba(0, 94, 5, 0.25);;
}
.snake .head{
	width: 10px;
	height: 10px;
	background: rgb(162, 255, 23);
	border-radius: 1px;
	margin: auto;
	position: absolute;
	border: 0px solid red;
	background: rgb(141, 223, 19);
	box-shadow: inset 2px 2px 15px rgba(0, 94, 5, 0.25), inset -2px -2px 15px rgba(0, 94, 5, 0.25);;
}
.snake .unit1{
	left: 30px;
}
.snake .unit2{
	left: 0px;
}
.snake .head{
	left: 60px;
}
.fruits{
	position: relative;
	border: 2px solid blue;

}
.fruit{
	position: absolute;
	padding: 5px;
	border: 2px solid red;
	height: fit-content;
	width: fit-content;
}
.fruit img{
	height: 30px;
	width: 30px;
}
